/config/local.php
/config/install.php
.env
.env.*
!.env.example
/storage/*
!/storage/.htaccess
!/storage/uploads/
!/storage/logs/
/storage/uploads/*
!/storage/uploads/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
.DS_Store
._*
*.zip
*.log
*.bak
*.sql
!/database/schema.mysql.sql

/config/https-proxy.php

__pycache__/
*.pyc
